# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Ignore .terraform directory
.terraform/

# Ignore lock files (optional)
.terraform.lock.hcl

# Ignore sensitive variable files
*.tfvars

tf.plan
tf.plan.backup
.DS_Store

# Ansible
./ansible.log
./group_vars/all/secrets.yml
./inventory
